<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js"></script>
	<title>Error</title>
</head>
<body>

<div id="debug">
	<div class="ui negative message">
		<div class="header"> {{$trace[0]}} </div>
	</div>
	<div class="ui floating message">
		{{foreach $trace as $k => $v}}
			{{if $k >=1 }}
				<p>{{$v}}</p>
			{{/if}}
		{{/foreach}}
	</div>
</div>
</body>
</html>